<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>CFDSA Pre-Course Assignment</title>
  </head>
  <body>
    <main class="container">
      <header>
        <img
          src="{{ url_for('static', path='/smile.png') }}"
          alt="smile"
          width="200"
        />
        <h1>{{ quote }}</h1>
      </header>

      <section>
        Repository:
        <a href="https://github.com/khlee93/cfdsa_assignment" target="_blank"
          >https://github.com/khlee93/cfdsa_assignment</a
        >
      </section>
    </main>
  </body>
</html>
